.App {
  text-align: center;
  margin: auto 0rem;
  min-width: 350px;
  padding: 0 2rem;
}

/*header*/
.headerLogo{
  width: 12rem;
  height: auto;
}
nav a {
  display: flex;
  font-family: "Lato", sans-serif;
  padding-top: 40px;
  padding-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;

}
nav {
  display: flex;
  flex-direction: row;
}
header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgb(121, 13, 13);
  padding: 10px;
}
nav a:hover{
  filter: drop-shadow(0 0 0.4rem rgb(204, 183, 183));
}
/*employee cards*/
.employee_data {
  margin: 3rem auto;
  border: 0.15rem solid rgb(126, 5, 5);
  color: white;
  font-family: "Lato", sans-serif;
  background: rgb(121, 13, 13);
  max-width: 30rem;
  border-radius: 20px;
  padding: 10px 10px;
  filter: drop-shadow(0 0 0.75rem rgb(94, 84, 84));
}
.employee_data img{
  border-radius: 50%;
}
.email {
  display: block;
}
.fade-in{
  animation: fade 1s ease-in;
}
@keyframes fade {
  0%{
      opacity: 0;
  }
}


/*forms*/
form {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  margin: 10px;
}

input {
  display: flex;
  margin: auto;
  padding: 10px;
}

button {
  margin: 10px auto;
}

select {
  padding: 10px;
  width: 10.6rem;
  margin: 5px auto;
}

h3 {
  padding-top: 1rem;
}


/*mobile styles*/
@media only screen and (max-width: 1250px){
  .App {
    text-align: center;
    margin: auto 0rem;
    min-width: 350px;
    padding: 0;
  }
  .headerLogo{
    width: 8rem;
    height: auto;
  }
  nav a{
    font-size: .9rem;
  }
}
